<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="shortcut icon" th:href="@{/static/image/web.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
</head>
<body>
    <div class="col-lg-2 col-md-2">1</div>
    <div class="modal-footer" th:replace="~{common/footer :: commonfooter}"></div>
</body>
</html>