<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="shortcut icon" th:href="@{/static/image/web.ico}"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">我的网站</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">首页</a>
                </li>
                <li class="dropdown">
                    <a href="#">页面 1</a>
                </li>
                <li>
                    <a href="#">页面 2</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-user"></span> 账户信息
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-log-in"></span> 退出登录
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="col-lg-2 col-md-2 col-sm-2" id="leftmenu">
    <div class="dropdown" id="innercontent">
        <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">首页
            <span class="caret"></span>
        </button>
    </div>
</div>
<div class="col-lg-10 col-md-10 col-sm-10" id="content" style="border: 0px;padding: 0px">
    <div class="contentlist" id="contentlist" style="width: 100%;height: 100%;border: 0px;padding: 0px">

    </div>

</div>

    <div class="modal-footer" th:replace="~{common/footer :: commonfooter}"></div>
</body>
<script>
    function onload(){
        var result=postmenu("/system/menulist");
        var showresult=menuinput(result);
        document.getElementById('innercontent').innerHTML=showresult;
    }
    window.onload=onload();
</script>
<style>
    #leftmenu{
        min-height: 800px;
        margin-top: 0px;
    }
    .col-lg-10{
        min-height: 800px;
    }
    .dropdown-toggle{
        min-width: 100%;
    }
    .dropdown-menu li{
        min-width: 100%;
    }
    nav{
        margin:0px !important;
    }
</style>
<script type="text/javascript" th:src="@{/static/js/bootstrap.bundle.min.js}"></script>
</html>