<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
    <div class="commonfooter" th:fragement="commonfooter">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid" style="padding-top: 40px;">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">
                        <div class="container">
                            <center>
                                <p>Email:2249205175@qq.com</p>
                                <p>本网站用于个人学习与整理日常的生活琐碎片段。</p>
<!--                                <p></p>-->
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>